doctype html 
html 
    head
        title Natours 
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body 
        //- buffered code
        h1= tour 
        h2= user.toUpperCase()
        //- h1 The Park Camper

        //- unbuffered code
        - const x = 9
          //- buffered code
        h2= 2 * x
        
        p This is just some text
