doctype html 
html 
    head
        title Natours #{tour}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body 
        //- buffered code
        h1= tour 
        h2= user.toUpperCase()
        //- h1 The Park Camper

        //- unbuffered code - code that doesn't add something to output
        - const x = 9

          //- buffered code - code that adds something to output
        h2= 2 * x
        
        p This is just some text
